
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
a {
  cursor: pointer;
}
.button {
  height: 32px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 7px 16px;
  display: inline-block;
  background: transparent;
  box-shadow: none;
  line-height: 16px;
  white-space: nowrap;
  border-radius: 100px;
  outline: none;
}
.body {
  width: 1418px;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  border-right-style: solid;
  border-left-style: solid;
  background-color: $white;
  border-color: $border-color;
  border-width: 1px;
  margin-bottom: 20px;
}
.container-tittle_1 {
  font-size: 30px;
  margin-top: 10px;
  position: absolute;
  align-self: flex-start;
  padding-right: 1200px;
}
.container-tittle_2 {
  font-size: 30px;
  padding-left: 3px;
  position: absolute;
  align-self: flex-start;
  margin-top: -35px;
}

