body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
a {
  cursor: pointer;
}
.button {
  height: 32px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 7px 16px;
  display: inline-block;
  background: transparent;
  box-shadow: none;
  line-height: 16px;
  white-space: nowrap;
  border-radius: 100px;
  outline: none;
}
.body {
  width: 1418px;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  border-right-style: solid;
  border-left-style: solid;
  background-color: #ffffff;
  border-color: rgb(241, 241, 241);
  border-width: 1px;
  margin-bottom: 20px;
}
.container-tittle_1 {
  font-size: 30px;
  margin-top: 10px;
  position: absolute;
  align-self: flex-start;
  padding-right: 1200px;
}
.container-tittle_2 {
  font-size: 30px;
  padding-left: 3px;
  position: absolute;
  align-self: flex-start;
  margin-top: -35px;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .header__companies-links {
      width: 790px;
    }
    .header__logo {
      margin-right: 40px;
    }
    .body {
      margin-top: -130px;
      transform: scale(0.90);
      margin-left: -40px;
    }
    .footer__appstore{
      margin-top: -100px;
    }
    .app-market-links{
      width: 1170px;
    }
    .footer__appstore-links {
      margin-left: 680px;
    }
    .footer__menus {
      width: 1170px;
    }
    .footer__bold {
      font-size: 20px;
    }
    .footer__link {
      font-size: 15px;
      font-weight: 500;
    }
    .adress-filters__option {
      font-size: 17px;
      font-weight: 500;
    }
}


.header {
  top: 0px;
  height: 80px;
  padding-bottom: -1px;
  width: 100%;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-color: rgb(241, 241, 241);
  border-width: 1px;
  position: fixed;
  z-index: 1;
}
.header__link {
  font-size: 16px;
  margin: 0 20px;
}
.header__link:hover {
  color: #cecece;
}
.header__button {
  font-size: 14px;
  width: 90px;
  height: 32px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  
}
.header__companies-links {
  width: 1035px;
  display: flex;
  justify-content: center;
}
.header__logo{
  width: 160px;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.header__logo-pic {
  width: 160px;
}
.header__content {
  font-family: Arial, Helvetica, sans-serif;
  width: 1420px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.banner {
  margin-top: 90px;
  border-radius: 4px 4px 0 0;
  height: 334px;
  color: #ffffff;
  align-content: center;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  no-repeat  center 100% url(https://codeinspiration.pro/wp-content/themes/theme_ci_prod/img/verticals/food-delivery.jpg);

}
.banner__links {
  color: #cccccc;
  padding-right: 15px;
}
.banner__main-text {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}
.banner__content {
  width: 1260px;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 57px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;

}
.banner__input {
  display: flex;
  height: 56px;
}
.banner__input-adress {
  font-size: 18px;
  height: 56px;
  border: 1px solid #cccccc;
  border-right: 0px;
  font-size: 1.125rem;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  width: 650px;
  font-weight: 500;
  outline: none;
}
.banner__input-button {
  height: 56px;
  border-left: 0px;
  background-color: rgb(252, 224, 0);
  border-radius: 0 6px 6px 0;
  font-weight: bold;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}
.adress-filters {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  height: 86px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 1260px;
}
.adress-filters__option {
  padding: 10px 18px;
  border-radius: 20px 20px 20px 20px;
}
.adress-filters__option:hover {
background: #f5f5f5;
}
.adress-filters__option_chosen {
  background: rgb(252, 224, 0);
  padding: 12px 18px;
  border-radius: 20px 20px 20px 20px;
}
.restaurant-search {
  border-top: solid 1px #fafafa;
  border-bottom: solid 8px #fafafa;
  width: auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.restaurant-search__input {
  width: 1258px;
  height: 46px;
  border: 1px solid #cccccc;
  border-radius: 5px 5px 5px 5px;
  padding-left: 20px;
  outline: none;
}
.promo {
  border-bottom: 8px solid #fafafa;
}
.promo__content {
  height: 425px;
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card {
  width: 392px;
  height: 310px;
  border-radius: 8px 8px 8px 8px;
  margin: 0px 40px 0px 0px;
  box-shadow: 0px 4px 40px rgb(230, 230, 230);
  transition: transform .2s ease-in-out;
  z-index: 0;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.06);
}
.card__image {
  width: 392px;
  height: 212px;
  border-radius: 8px 8px 0 0;
  background-image: url("https://i.pinimg.com/originals/e1/29/b6/e129b655fbd710ebe0cb1bd68178c5d0.jpg");
}
.card__info {
  width: 352px;
  height: 58px;
  padding: 20px 20px 20px 20px;
  border-radius: 0 0 8px 8px;
}
.card__shop-name {
  margin: 0;
}
.card__price-rating {
  height: 31px;
  padding-top: 7px;
}
.card__price {
  display: inline;
  padding-left:22px;
  padding-top: 2px;
  background: no-repeat url(https://yastatic.net/s3/eda-front/prod-www/assets/wallet-023035338ccfe66eaa8654c666274ff5.svg);
}
.card__rating {
  background: no-repeat url(https://yastatic.net/s3/eda-front/prod-www/assets/star-7d06c63fe36e881a6fdbfac4c3fa1f77.svg);
  background-color: rgb(252, 224, 0);
  padding: 2px 3px 2px 20px;
  border-radius: 8px 8px 8px 8px;
  display: inline;
  margin: 0px 5px 0px 0px;
  font-size: 15px;
}
.restaurants__wrapper {
  padding-top: 50px;
  flex-direction: row;
  height: 1700px;
  flex-wrap: wrap;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants {
  padding-bottom: 20px;
  border-bottom: rgb(241, 241, 241) 1px solid;
}
.footer {
  display: block;
  height: fit-content;
  background-color: rgb(248, 248, 248);
}
.footer__app-market-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 1300px;
  height: 106px;
  margin-left: auto;
  margin-right: auto;
}
.footer__yandexeda-logo {
  margin-left: -25px;
  width: 170px;
  height: 50px;
  background-image: url("https://i.imgur.com/Ykbrl3g.png");
}
.footer__appstore-links {
  margin-left: 800px;
}
.footer__appstore {
  border-bottom:rgb(230, 230, 230) 1px solid;
}
.footer__menus {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 50px;
  color: #636363;
  width: 1300px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
}
.footer__bold {
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 12px;
}
.footer__column {
  margin-right: 100px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.footer__link {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
}
.footer__column_right-side-aligned {
  position: absolute;
  right: 150px;
  text-align: right;
  margin-right: -100px;
}
.footer__bottomline {
  margin: 0 auto;
  display: flex;
  padding: 30px 120px 30px 103px;
  justify-content: center;
  align-items: center;
  border-top:rgb(230, 230, 230) 1px solid;
}
.footer__socialmedia-links {
  margin-left: 830px;
}