@mixin center() {
    margin-left: auto;
    margin-right: auto;
}
.body {
    background-color: $background-color;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.loadmore {
    @include center;
    width: 1560px;

    &__button {
        margin-top: 20px;
        padding: 5px 15px 5px 15px;
        margin-right: 20px;
        font-size: 32px;
        font-weight: 500;
        background-color: #5ddb78;
        float: right;
        border-radius: 30px;
        border: none;
        outline: none;
        cursor: pointer;

     &:hover {
         background-color: #569664;
     }
    }
}
