body {
    font-size: 20px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif
}
  
header {
    padding: 100px 0px 50px;
    line-height: normal;
}

header,
nav {
    background-color: #fd739c;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
  
h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
#whoami {
    padding-top: 50px;
}