.adress-filters {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    height: 86px;
    background-color: $white;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 1260px;

    &__option {
        padding: 10px 18px;
        border-radius: 20px 20px 20px 20px;
    
     &:hover {
        background: #f5f5f5;
     }
     &_chosen {
        background: $yandex-yellow;
        padding: 12px 18px;
        border-radius: 20px 20px 20px 20px;
      }
    }


  }