.restaurant-search {
    border-top: solid 1px #fafafa;
    border-bottom: solid 8px #fafafa;
    width: auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__input {
        width: 1258px;
        height: 46px;
        border: 1px solid #cccccc;
        border-radius: 5px 5px 5px 5px;
        padding-left: 20px;
        outline: none;
    }
  }