.gallery {
    @include center;
    margin-top: 150px;
    width: 1560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    &__poster {
        cursor: pointer;
        width: 480px;
        height: 270px;
        margin: 20px;    
        box-shadow: 4px 4px 20px;
    }

    &__img {
        height: inherit;
        width: inherit;
        object-fit: contain;
    }
}