body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
button {
  color: #000;
  height: 32px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 7px 16px;
  display: inline-block;
  font-size: 15px;
  background: transparent;
  box-shadow: none;
  line-height: 16px;
  margin-left: 20px;
  white-space: nowrap;
  border-radius: 100px;
}
.test {
  height: 2000px;

}
.page-header_link {
  font-size: 16px;
  padding: 0 20px;
}
.page-header_button {
  width: 90px;
  height: 32px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  
}
.page-header_companies-links {
  width: 1035px;
  display: flex;
  justify-content: center;
}
.page-header_logo{
  padding-right: 50px;
  cursor: pointer;
}

.page-body {
  width: 1418px;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  border-right-style: solid;
  border-left-style: solid;
  background-color: #f3f3f3;
  border-color: rgb(241, 241, 241);
  border-width: 1px;
}

.page-header_content {
  font-family: Arial, Helvetica, sans-serif;
  width: 1420px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.page-header {
  top: 0px;
  height: 79px;
  width: 100%;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-color: rgb(241, 241, 241);
  border-width: 1px;
  position: fixed;
}

.main-banner {
  background-image: url(https://yastatic.net/s3/eda-front/prod-www/assets/default-d3a889e26c9ac9089ce5b007da1ac51b.png);
  height: 334px;
  color: #ffffff;
  font-size: 50px;
  align-content: center;

}
